#banner-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/mikael-kristenson-3aVlWP-7bg8-unsplash.jpg);
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-line {
    border-left: 2px solid #fff;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.btn-color {
    background-color: #13005A;
    color: #fff;

}

.btn-color:hover {
    border: #13005A solid 2.5px;
}

.profile-image-pic {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.cardbody-color {
    background-color: #ebf2fa;
}

#btn-Event,
#btn-Event.active:hover {
    background-color: #4E9BB9;
    color: #fff;
}

#btn-Event:hover,
#btn-Event.active {
    background-color: #fff;
    color: #4E9BB9;
    border: 2px solid #4E9BB9;
}

#btn-Tutorial,
#btn-Tutorial.active:hover {
    background-color: #4E9BB9;
    color: #fff;
}

#btn-Tutorial:hover,
#btn-Tutorial.active {
    background-color: #fff;
    color: #4E9BB9;
    border: 2px solid #4E9BB9;
}

#btn-Tanya,
#btn-Tanya.active:hover {
    background-color: #4E9BB9;
    color: #fff;
}

#btn-Tanya:hover,
#btn-Tanya.active {
    background-color: #fff;
    color: #4E9BB9;
    border: 2px solid #4E9BB9;
}

footer {
    background-color: #13005A;
    color: #fff;
    font-size: 14px;
    padding-top: 30px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fff;
    text-decoration: none;
}